section div {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    float: left;
}

#board {
    width: 640px;
    height: 640px;
    margin: 10px auto;
}

.furry {
    background-image: url('../images/furry.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.coin {
    background-image: url('../images/coin.png');
    background-repeat: no-repeat;
    background-size: contain;
}

h3.score {
    z-index: -1;
    line-height: 640px;
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: blue;
}
