@font-face {
    font-family: delusion;
    src: url(fonts/DELUSION.TTF) format('truetype');
}
@font-face {
    font-family: charlie;
    src: url(fonts/Charlie_Brown_M54.ttf) format('truetype');
}
@import "scss/modules/variables";
@import "scss/partials/avatars";
@import "scss/partials/cube";
@import "scss/partials/cubeSide";
@import "scss/partials/startGame";
@import "scss/partials/gameOver";
