@font-face {
    font-family: delusion;
    src: url(fonts/delusion.ttf);
}
@font-face {
    font-family: charlie;
    src: url(fonts/charlie_brown_m54.ttf);
}
@import "scss/modules/variables";
@import "scss/partials/avatars";
@import "scss/partials/cube";
@import "scss/partials/cubeSide";
@import "scss/partials/startGame";
@import "scss/partials/gameOver";
