
.avatar1 {
    background-image: url('images/avatars/avatar (1).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar2 {
    background-image: url('images/avatars/avatar (2).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar3 {
    background-image: url('images/avatars/avatar (3).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar4 {
    background-image: url('images/avatars/avatar (4).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar5 {
    background-image: url('images/avatars/avatar (5).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar6 {
    background-image: url('images/avatars/avatar (6).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar7 {
    background-image: url('images/avatars/avatar (7).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar8 {
    background-image: url('images/avatars/avatar (8).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar9 {
    background-image: url('images/avatars/avatar (9).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar10 {
    background-image: url('images/avatars/avatar (10).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar11 {
    background-image: url('images/avatars/avatar (11).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar12 {
    background-image: url('images/avatars/avatar (12).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar13 {
    background-image: url('images/avatars/avatar (13).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar14 {
    background-image: url('images/avatars/avatar (14).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar15 {
    background-image: url('images/avatars/avatar (15).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar16 {
    background-image: url('images/avatars/avatar (16).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar17 {
    background-image: url('images/avatars/avatar (17).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar18 {
    background-image: url('images/avatars/avatar (18).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar19 {
    background-image: url('images/avatars/avatar (19).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.avatar20 {
    background-image: url('images/avatars/avatar (20).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
