@import "../modules/variables";

body {
    background-color: $backgroundColor;
    // background-color: #0b1221;
    // background-color: #0b1431;
    #boardFront {
        width: $boardSize;
        height: 100vh;
        margin: 0 auto;
        padding: 35px 0;
        // display: none;
        div {
            width: $fieldSize;
            height: $fieldSize;
            // border: 1px solid black;
            float: left;
        }

        div.wall {
            background-color: gray;
            background-repeat: no-repeat;
            background-size: contain;
        }

        h3.score {
            z-index: 2;
            line-height: $boardSize;
            font-size: 40px;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            color: blue;
            font-weight: bolder;
        }
    }

    // .furry {
    //     background-image: url('images/furry.png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }

    // .avatar1 {
    //     background-image: url('images/avatars/avatar (1).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar2 {
    //     background-image: url('images/avatars/avatar (2).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar3 {
    //     background-image: url('images/avatars/avatar (3).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar4 {
    //     background-image: url('images/avatars/avatar (4).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar5 {
    //     background-image: url('images/avatars/avatar (5).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar6 {
    //     background-image: url('images/avatars/avatar (6).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar7 {
    //     background-image: url('images/avatars/avatar (7).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar8 {
    //     background-image: url('images/avatars/avatar (8).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar9 {
    //     background-image: url('images/avatars/avatar (9).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar10 {
    //     background-image: url('images/avatars/avatar (10).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar11 {
    //     background-image: url('images/avatars/avatar (11).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar12 {
    //     background-image: url('images/avatars/avatar (12).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar13 {
    //     background-image: url('images/avatars/avatar (13).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar14 {
    //     background-image: url('images/avatars/avatar (14).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar15 {
    //     background-image: url('images/avatars/avatar (15).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar16 {
    //     background-image: url('images/avatars/avatar (16).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar17 {
    //     background-image: url('images/avatars/avatar (17).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar18 {
    //     background-image: url('images/avatars/avatar (18).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar19 {
    //     background-image: url('images/avatars/avatar (19).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
    // .avatar20 {
    //     background-image: url('images/avatars/avatar (20).png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }



    .coin {
        background-image: url('images/coin.png');
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center;
    }

    .speed {
        background-image: url('images/speed.png');
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center;
    }
}
