@import "../modules/variables";

body {
    background-color: $backgroundColor;

    .containerCube {
        width: $boardSize;
        height: $boardSize;
        position: relative;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -o-perspective: 1000px;
        perspective: $boardSize * 5;

        #cube {
            width: 100%;
            height: 100%;
            position: absolute;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transition: -webkit-transform 3s;
            -moz-transition: -moz-transform 3s;
            -o-transition: -o-transform 3s;
            transition: transform 3s;

            figure {
                display: block;
                position: absolute;
                width: $boardSize;
                height: $boardSize;
                // color: transparent;
                text-align: center;
            }
        }
    }

    #cube .front {
        background: hsla( 0, 100%, 50%, 0.7 );
    }

    #cube .back {
        background: hsla( 60, 100%, 50%, 0.7 );
    }

    #cube .right {
        background: hsla( 120, 100%, 50%, 0.7 );
    }

    #cube .left {
        background: hsla( 180, 100%, 50%, 0.7 );
    }

    #cube .top {
        background: hsla( 240, 100%, 50%, 0.7 );
    }

    #cube .bottom {
        background: hsla( 300, 100%, 50%, 0.7 );
    }

    #cube .front {
        -webkit-transform: translateZ( $boardSize / 2 );
        -moz-transform: translateZ( $boardSize / 2 );
        -o-transform: translateZ( $boardSize / 2 );
        transform: translateZ( $boardSize / 2 );
    }

    #cube .back {
        -webkit-transform: rotateX( -180deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateX( -180deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateX( -180deg ) translateZ( $boardSize / 2 );
        transform: rotateX( -180deg ) translateZ( $boardSize / 2 );
    }

    #cube .right {
        -webkit-transform: rotateY( 90deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateY( 90deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateY( 90deg ) translateZ( $boardSize / 2 );
        transform: rotateY( 90deg ) translateZ( $boardSize / 2 );
    }

    #cube .left {
        -webkit-transform: rotateY( -90deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateY( -90deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateY( -90deg ) translateZ( $boardSize / 2 );
        transform: rotateY( -90deg ) translateZ( $boardSize / 2 );
    }

    #cube .top {
        -webkit-transform: rotateX( 90deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateX( 90deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateX( 90deg ) translateZ( $boardSize / 2 );
        transform: rotateX( 90deg ) translateZ( $boardSize / 2 );
    }

    #cube .bottom {
        -webkit-transform: rotateX( -90deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateX( -90deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateX( -90deg ) translateZ( $boardSize / 2 );
        transform: rotateX( -90deg ) translateZ( $boardSize / 2 );
    }

    #cube.show-front {
        -webkit-transform: translateZ( -$boardSize / 2 );
        -moz-transform: translateZ( -$boardSize / 2 );
        -o-transform: translateZ( -$boardSize / 2 );
        transform: translateZ( -$boardSize / 2 );
    }

    #cube.show-back {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateX( -180deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateX( -180deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateX( -180deg );
        transform: translateZ( -$boardSize / 2 ) rotateX( -180deg );
    }

    #cube.show-right {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateY( -90deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateY( -90deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateY( -90deg );
        transform: translateZ( -$boardSize / 2 ) rotateY( -90deg );
    }

    #cube.show-left {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateY( 90deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateY( 90deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateY( 90deg );
        transform: translateZ( -$boardSize / 2 ) rotateY( 90deg );
    }

    #cube.show-top {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateX( -90deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateX( -90deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateX( -90deg );
        transform: translateZ( -$boardSize / 2 ) rotateX( -90deg );
    }

    #cube.show-bottom {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateX( 90deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateX( 90deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateX( 90deg );
        transform: translateZ( -$boardSize / 2 ) rotateX( 90deg );
    }
}
