@import "../modules/variables";

body {
    background-color: $backgroundColor;

    .containerCube {
        width: $boardSize;
        height: $boardSize;
        position: relative;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -o-perspective: 1000px;
        perspective: $boardSize * 5;

        #cube {
            width: 100%;
            height: 100%;
            position: absolute;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transition: -webkit-transform 3s;
            -moz-transition: -moz-transform 3s;
            -o-transition: -o-transform 3s;
            transition: transform 3s;

            figure {
                display: block;
                position: absolute;
                width: $boardSize;
                height: $boardSize;
                text-align: center;
            }
        }
    }

    #cube .front {
        background: rgba(255, 0, 0, 0.7);
    }

    #cube .back {
        background: rgba(255, 255, 0, 0.7);
    }

    #cube .right {
        background: rgba(0, 255, 0, 0.7);
    }

    #cube .left {
        background: rgba(0, 255, 255, 0.7);
    }

    #cube .top {
        background: rgba(0, 0, 255, 0.7);
    }

    #cube .bottom {
        background: rgba(255, 0, 255, 0.7);
    }

    #cube .front {
        -webkit-transform: translateZ( $boardSize / 2 );
        -moz-transform: translateZ( $boardSize / 2 );
        -o-transform: translateZ( $boardSize / 2 );
        transform: translateZ( $boardSize / 2 );
    }

    #cube .back {
        -webkit-transform: rotateX( -180deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateX( -180deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateX( -180deg ) translateZ( $boardSize / 2 );
        transform: rotateX( -180deg ) translateZ( $boardSize / 2 );
    }

    #cube .right {
        -webkit-transform: rotateY( 90deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateY( 90deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateY( 90deg ) translateZ( $boardSize / 2 );
        transform: rotateY( 90deg ) translateZ( $boardSize / 2 );
    }

    #cube .left {
        -webkit-transform: rotateY( -90deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateY( -90deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateY( -90deg ) translateZ( $boardSize / 2 );
        transform: rotateY( -90deg ) translateZ( $boardSize / 2 );
    }

    #cube .top {
        -webkit-transform: rotateX( 90deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateX( 90deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateX( 90deg ) translateZ( $boardSize / 2 );
        transform: rotateX( 90deg ) translateZ( $boardSize / 2 );
    }

    #cube .bottom {
        -webkit-transform: rotateX( -90deg ) translateZ( $boardSize / 2 );
        -moz-transform: rotateX( -90deg ) translateZ( $boardSize / 2 );
        -o-transform: rotateX( -90deg ) translateZ( $boardSize / 2 );
        transform: rotateX( -90deg ) translateZ( $boardSize / 2 );
    }

    #cube.showFront {
        -webkit-transform: translateZ( -$boardSize / 2 );
        -moz-transform: translateZ( -$boardSize / 2 );
        -o-transform: translateZ( -$boardSize / 2 );
        transform: translateZ( -$boardSize / 2 );
    }

    #cube.showBack {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateX( -180deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateX( -180deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateX( -180deg );
        transform: translateZ( -$boardSize / 2 ) rotateX( -180deg );
    }

    #cube.showRight {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateY( -90deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateY( -90deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateY( -90deg );
        transform: translateZ( -$boardSize / 2 ) rotateY( -90deg );
    }

    #cube.showLeft {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateY( 90deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateY( 90deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateY( 90deg );
        transform: translateZ( -$boardSize / 2 ) rotateY( 90deg );
    }

    #cube.showTop {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateX( -90deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateX( -90deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateX( -90deg );
        transform: translateZ( -$boardSize / 2 ) rotateX( -90deg );
    }

    #cube.showBottom {
        -webkit-transform: translateZ( -$boardSize / 2 ) rotateX( 90deg );
        -moz-transform: translateZ( -$boardSize / 2 ) rotateX( 90deg );
        -o-transform: translateZ( -$boardSize / 2 ) rotateX( 90deg );
        transform: translateZ( -$boardSize / 2 ) rotateX( 90deg );
    }
}
