@import "../modules/variables";

body {
    background-color: $backgroundColor;

    #screnGameBoard {
        height: 100vh;
        display: none;

        div.flex {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .level,
            .score {
                display: block;
                text-align: center;
                font-size: 30px;
                width: $fieldSize*3;
                color: white;
                z-index: 2;
                position: absolute;
                font-family: charlie, Arial, sans-serif;

                #levelVal,
                #scoreVal {
                    font-size: 40px;
                    font-weight: 800;
                    display: block;
                    width: $fieldSize*3;
                    text-align: center;
                    color: $mainColor;
                }
            }

            .score {
                margin-left: -$boardSize*0.65;
            }

            .level {
                margin-left: $boardSize*0.65;
            }

            .board {
                width: $boardSize;

                div {
                    width: $fieldSize;
                    height: $fieldSize;
                    float: left;
                }

                div.wall {
                    background-color: gray;
                    background-repeat: no-repeat;
                    background-size: contain;
                    border: 1px solid black;
                }
            }

            .coin {
                background-image: url('images/coin.png');
                background-repeat: no-repeat;
                background-size: 40px;
                background-position: center;
            }

            .speed {
                background-image: url('images/speed.png');
                background-repeat: no-repeat;
                background-size: 40px;
                background-position: center;
            }
        }
    }
}
