@import "../modules/variables";

#gameOver {
    background-color: $backgroundColor;
    height: 100vh;
    color: white;
    padding: 35px 0;
    // display: none;
    div.container {
        width: 1000px;
        height: 90vh;
        border: 5px solid white;
        border-radius: 40px;
        margin: 0 auto;
        padding: 20px;

        header {
            width: 100%;
            height: 15%;
            border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                font-size: 50px;
                font-weight: 800;
            }
        }

        div.scoreTable {
            height: 70%;
            width: 50%;
            padding: 20px;
            float: left;
            border: 1px solid red;

            caption {
                font-weight: 800;
                font-size: 30px;
                text-align: center;
            }

            #bestResults {
                height: 90%;
                margin: 0 auto;
                width: 75%;
                vertical-align: middle;
                text-align: center;

                th {
                    font-size: 150%;
                    font-weight: 800;
                    border-bottom: 1px solid $mainColor;
                    vertical-align: middle;
                }

                td {
                    border-bottom: 1px solid $mainColor;
                    font-size: 100%;
                    vertical-align: middle;
                }
            }
        }

        div.scorePlayer {
            height: 70%;
            width: 50%;
            padding: 20px;
            float: left;
            border: 1px solid red;

            img {
                margin: 0 auto;
                display: block;
            }

            p.playerScoreInfo {
                font-size: 30px;
                text-align: center;

                span.playerInfo {
                    font-size: 40px;
                    color: $mainColor;
                }
            }
        }

        .clear {
            clear: both;
            display: block;
        }

        footer {
            width: 100%;
            height: 15%;
            border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;

            #mainScreenButton,
            #playAgainButton {
                width: 45%;
                height: 80%;
                margin: 0 auto;
                border: 2px solid white;
                font-size: 40px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: $mainColor;
                    border: 2px solid $mainColor;
                    color: $backgroundColor;
                    cursor: pointer;
                }
            }
        }
    }
}
