@import "../modules/variables";

#gameOver {
    background-color: $backgroundColor;
    height: 100vh;
    color: white;
    font-family: charlie, Arial, sans-serif;
    display: none;

    div.flex {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        div.container {
            width: 1000px;
            height: 90vh;
            border: 5px solid white;
            border-radius: 40px;
            margin: 0 auto;
            padding: 20px;

            header {
                width: 100%;
                height: 15%;
                display: flex;
                align-items: center;
                justify-content: center;

                div {
                    font-size: 50px;
                }
            }

            div.scoreTable {
                height: 70%;
                width: 50%;
                padding: 20px;
                float: left;

                caption {
                    font-size: 30px;
                    text-align: center;
                }

                #bestResults {
                    height: 90%;
                    margin: 0 auto;
                    width: 75%;
                    vertical-align: middle;
                    text-align: center;

                    th {
                        font-size: 150%;
                        font-weight: 400;
                        border-bottom: 5px solid $mainColor;

                        vertical-align: middle;
                    }

                    td {
                        border-bottom: 1px solid $mainColor;
                        vertical-align: middle;
                    }
                    .addedRow {
                        font-size: 130%;
                    }

                }
            }

            div.scorePlayer {
                height: 70%;
                width: 50%;
                padding: 20px;
                float: left;
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;                

                div {
                    margin: 0 auto;
                    height: 20%;
                    width: 20%;
                }

                p.playerLevelInfo,
                p.playerScoreInfo {
                    font-size: 30px;
                    text-align: center;

                    span.playerInfo {
                        font-size: 40px;
                        color: $mainColor;
                    }
                }
            }

            .clear {
                clear: both;
                display: block;
            }

            footer {
                width: 100%;
                height: 15%;
                display: flex;
                align-items: center;
                justify-content: center;

                #mainScreenButton,
                #playAgainButton {
                    width: 45%;
                    height: 80%;
                    margin: 0 auto;
                    background-color: $backgroundColor;
                    border: 2px solid white;
                    border-radius: 20px;
                    color: white;
                    font-size: 40px;
                    font-family: charlie, arial, sans-serif;
                    outline: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: $mainColor;
                        border: 2px solid $mainColor;
                        color: $backgroundColor;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
