@import "../modules/variables";

#startGame {
    background-color: $backgroundColor;
    height: 100vh;
    color: white;
    padding: 35px 0;
    // display: none;
    div.container {
        width: 1000px;
        height: 90vh;
        border: 5px solid white;
        border-radius: 40px;
        margin: 0 auto;
        padding: 20px;

        header {
            width: 100%;
            height: 15%;
            border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                font-size: 50px;
                font-weight: 800;
            }
        }

        div.manual {
            width: 50%;
            height: 70%;
            padding: 20px;
            font-size: 20px;
            float: left;
            border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                list-style-type: square;
            }
        }

        div.player {
            width: 50%;
            height: 70%;
            padding: 20px;
            float: left;
            border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            input {
                background-color: $backgroundColor;
                color: $mainColor;
                border: none;
                border-bottom: 1px solid $mainColor;
                text-align: center;
                font-size: 30px;

                &::-webkit-input-placeholder {
                    color: white;
                }

                &:-moz-placeholder {
                    color: white;
                    opacity: 1;
                }

                &::-moz-placeholder {
                    color: white;
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    color: white;
                }

                &:focus {
                    outline: none;
                    border-bottom: 3px solid $mainColor;

                    &::-webkit-input-placeholder {
                        color: transparent;
                    }

                    &:-moz-placeholder {
                        color: transparent;
                    }

                    &::-moz-placeholder {
                        color: transparent;
                    }

                    &:-ms-input-placeholder {
                        color: transparent;
                    }
                }
            }

            div.avatars {
                // align-items: center;
                // justify-content: center;
                // flex-wrap: wrap;
                // height: auto;
                max-width: 100%;
                height: auto;
                img {
                    max-width: 100%;
                    height: auto;
                    &:hover {
                        border: 2px solid $mainColor;
                    }
                }
            }
        }
    }

    .clear {
        clear: both;
        display:block;
    }

    footer {
        width: 100%;
        height: 15%;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;

        #startButton {
            width: 50%;
            height: 80%;
            margin: 0 auto;
            border: 2px solid white;
            font-size: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                border: 2px solid $mainColor;
                color: $mainColor;
                cursor: pointer;
            }
        }
    }
}
