@import "../modules/variables";

#startGame {
    background-color: $backgroundColor;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: charlie, Arial, sans-serif;

    div.container {
        width: 1000px;
        height: 90vh;
        border: 5px solid white;
        border-radius: 40px;
        margin: 0 auto;
        padding: 20px;

        header {
            width: 100%;
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                font-family: delusion, Arial, sans-serif;
                font-size: 70px;
            }
        }

        div.manual {
            width: 50%;
            height: 70%;
            padding: 20px;
            font-size: 25px;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                list-style-type: square;
            }
        }

        div.player {
            width: 50%;
            height: 70%;
            padding: 20px;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            input {
                font-family: charlie, Arial, sans-serif;
                background-color: $backgroundColor;
                color: $mainColor;
                border: none;
                border-bottom: 1px solid $mainColor;
                text-align: center;
                font-size: 30px;

                &::-webkit-input-placeholder {
                    color: gray;
                }

                &:-moz-placeholder {
                    color: gray;
                    opacity: 1;
                }

                &::-moz-placeholder {
                    color: gray;
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    color: gray;
                }

                &:focus {
                    outline: none;
                    border-bottom: 5px solid $mainColor;

                    &::-webkit-input-placeholder {
                        color: transparent;
                    }

                    &:-moz-placeholder {
                        color: transparent;
                    }

                    &::-moz-placeholder {
                        color: transparent;
                    }

                    &:-ms-input-placeholder {
                        color: transparent;
                    }
                }
            }

            .avatar {
                font-size: 20px;
            }
            #error {
                width: 100%;
                height: 20px;
                color: red;
                text-align: center;
                font-size: 16px;               
            }

            div.avatars {
                max-width: 100%;
                height: 100%;

                .avatarsRow {
                    height: 20%;
                    width: 433px;

                    div {
                        height: 100%;
                        width: 20%;
                        float: left;
                        border: 2px solid transparent;

                        &:hover {
                            border: 2px solid $mainColor;
                        }
                    }
                }
            }
        }
    }

    .clear {
        clear: both;
        display: block;
        width: 0;
        height: 0;
    }

    footer {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

        #startButton {
            z-index: 99;
            width: 50%;
            height: 80%;
            margin: 0 auto;
            border: 2px solid white;
            border-radius: 20px;
            color: white;
            font-size: 40px;
            font-family: charlie, arial, sans-serif;
            outline: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $backgroundColor;

            &:hover {
                background-color: $mainColor;
                border: 2px solid $mainColor;
                color: $backgroundColor;
                cursor: pointer;
            }
        }
    }
}
